.blogs{
    display: flex;
    flex-direction: column;
    background-color: #333; 
    color: white; 
    min-height: 100vh;
    width: 100%;
    padding: 20px;
    margin-top: 7vh;
}

.blog-box{
    margin: 2% auto;
    width: 80%;
    padding: 2%; 
    background-color: #1c1c1c; 
    color: #f1f1f1; 
    border-radius: 20px; 
    box-shadow: 0 0px 25px rgba(255, 255, 255, 0.2); 
}
input[type="file"] {
    display: block; 
    font-size: 16px; 
    padding: 0.3rem; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    cursor: pointer; 
}

.upload_button {
    background-color: #28a745; 
    color: white; 
    padding: 1rem 3rem; 
    border: none; 
    border-radius: 8px; 
    cursor: pointer; 
    font-size: 16px; 
    font-weight: bold; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: 
        background-color 0.3s ease, 
        transform 0.2s ease, 
        box-shadow 0.2s ease; 
}


.upload_button:hover {
    background-color: #218838; 
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); 
    transform: translateY(-2px); 
}

/* Active effect */
.upload_button:active {
    background-color: #1e7e34; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    transform: translateY(1px); 
}

/* Focused effect */
.upload_button:focus {
    outline: none; 
    box-shadow: 0 0 0 3px rgba(40, 167, 69, 0.5); 
}
.flash-messages {
    margin-top: 20px;
    padding: 10px;
    background-color: #f8d7da; 
    color: #721c24; 
    border: 1px solid #f5c6cb;
    border-radius: 5px;
}
.flash-messages p {
    margin: 0;
}

.title{
    color: #f1f1f1; 
    align-self: center; 
}

.blog-line{
    width: 60%;
    align-self: center;
}

@media (max-width: 768px) {
    .blogs{
        display: flex;
        flex-direction: column;
        background-color: #333; 
        color: white; 
        min-height: 100vh;
        width: 100%;
        padding: 20px;
        margin-top: 5vh;
    }

    .blog-box{
        margin: 2% auto;
        width: 95%;
        padding: 5%; 
        background-color: #1c1c1c; 
        color: #f1f1f1; 
        border-radius: 20px; 
        box-shadow: 0 0px 25px rgba(255, 255, 255, 0.2);
    }

    .upload-content {
        display: flex; 
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        text-align: center; 
    }


    .upload-content form {
        display: flex;
        flex-direction: column; 
        align-items: center; 
    }

    input[type="file"] {
        display: block; 
        font-size: 16px; 
        padding: 0.3rem; 
        border: 1px solid #ccc; 
        border-radius: 5px; 
        cursor: pointer; 
        width: 90%;
    }

    .title{
        justify-self: center;
        text-align: center;
    }



}