.CV{
    display: flex;
    background-color: #333; /* Dark background color */
    color: white; /* White text color */
    min-height: 100vh;
    width: 100vw;
    padding: 20px;
    margin: auto;
  
  }

.CV-sections
{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

/* General container styling */
.left-column,
.right-column {
    padding: 2%; /* Increased padding for more space inside the container */
    background-color: #1c1c1c; /* Darker background for the containers */
    color: #f1f1f1; /* Light text color for better readability */
    border-radius: 20px; /* Rounded corners */
    box-shadow: 0 0px 25px rgba(255, 255, 255, 0.2); /* Light shadow for dark background */
}

/* Specific styling for the left column */
.left-column {
    margin: 7% 2%; /* Top and bottom margin for spacing */
    width: 30vw; /* Width as a percentage of viewport width */
}

/* Specific styling for the right column */
.right-column {
    width: 60vw; /* Width as a percentage of viewport width */
    margin: 7% 2%; /* Top and bottom margin for spacing */
}

.CV-image{
    width: 80%;
    padding :15px;   
    display: block;
    margin: auto;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .left-column, 
    .right-column {
        width: 90vw; /* Full width on smaller screens */
        margin: 20px auto; /* Center align with auto margin */
    }
}
