header {
    display: flex; /* Use flexbox for layout */
    justify-content: flex-end; /* Align items to the right */
    align-items: center; /* Center items vertically */
    background-color: #333;
    color: white;
    padding: 10px 20px; /* Adjust padding as needed */
    position: fixed; /* Fix header position */
    top: 0; /* Position at the top of the viewport */
    right: 0; /* Position at the right of the viewport */
    width: 100%; /* Ensure header spans full width */
    z-index: 1000; /* Ensure it's on top of other content */
    height: 7vh;
  }
  
  header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; /* Use flexbox for navigation items */
  }
  
  header nav ul li {
    margin-right: 35px; /* Adjust spacing between items */
    padding: 3px;
  }
  
  header nav ul li:last-child {
    margin-right: 80px; /* Remove margin from last item */
  }
  
  header nav ul li a {
    text-decoration: none;
    color: white;
    font-size: medium;
  }
  