{%extends "layout.html"%}
{%block content%}
<div class="Blogs">
<h1 class = "w3-text-grey" >Blogs</h1>

<h5>My blogs can also be found in the <a class="w3-hover-text-blue w3-hover-opacity" style="text-decoration:none"
                    href=https://nhs-pycom.net/blog.html>
                    <span class="w3-tag w3-blue w3-round">NHS Python Community Website</span></a>. </h5>
                    <hr>
<div class="w3-container w3-card w3-white">   
    <h3 style="color:teal" > <a class="w3-hover-opacity" href= https://towardsdatascience.com/nhs-english-prescibing-data-epd-analysis-using-python-part-2-aa990e4e47dd> NHS English Prescribing Data (EPD) Analysis using Python (Part 2)</a> </h3> 
    
   
       <h5>In part 2, I show how much more efficient it is to extract the data using SQL before cleaning. Highlights from exploratory 
           data analysis are shared and I demonstrate the production of a simple distributed program in 
           preparation for computationally expensive tasks. 
       </h5>
   
   </div>

<hr>

<div class="w3-container w3-card w3-white">  
    
    <h3 style="color:teal" > <a class="w3-hover-opacity" href= https://towardsdatascience.com/nhs-english-prescribing-data-analysis-using-python-9d86ec610880> NHS English Prescribing Data (EPD) Analysis using Python (Part 1)</a> </h3> 
 

    <h5>Part one focuses on the use of Requests and Pandas to extract data from the open data portal (CKAN) API.<br>
       Time, memory and storage efficiency of the method was explored. <br> <br>
    </h5>

</div>

<hr>

</div>
{%endblock%}