{%extends "layout.html"%}
{%block content%}

<div class="contact">

  <h1 class = "title">Contact Me</h1>

  
  <h5>Please use the form below or contact me at <a style="color:teal" class="w3-hover-opacity" href="mailto:a.komolafe@outlook.com">a.komolafe@outlook.com</a>.</h5>

  {% if success %}
  <p>Thank you for your message. I'll get back to you shortly.</p>

  {% else %}

  {% for message in form.name.errors %}
  <div class="flash">{{ message }}</div>
  {% endfor %}

  {% for message in form.email.errors %}
  <div class="flash">{{ message }}</div>
  {% endfor %}

  {% for message in form.subject.errors %}
  <div class="flash">{{ message }}</div>
  {% endfor %}

  {% for message in form.message.errors %}
  <div class="flash">{{ message }}</div>
  {% endfor %}




    <form action="{{ url_for('contact') }}" method=post>

      <div class="hide">
      {{ form.hidden_tag }}
      </div>

      <div class="field">
        {{ form.name.label }} <br>
        {{ form.name(placeholder = 'Your name...') }}
      </div>

      <div class="field">
        {{ form.email.label }} <br>
        {{ form.email (placeholder = 'Your email...') }}
      </div>

      <div class="field">

        {{ form.subject.label }} <br>
        {{ form.subject (placeholder = 'The subject...') }}
      </div>

      <div class="field">
        {{ form.message.label }} <br>
        {{ form.message (placeholder = 'The message...')}}
      </p>

      <div class="field">
        {{ form.submit }}
      </div>

    </form>
  
  <hr>
  <h5> Note: Details entered into the contact form are used for the purpose of receiving and responding to
    enquiries through email only.
  </h5>

  {% endif %}


</div>
{% endblock %}