{%extends "layout.html"%}
{%block content%}
<!-- Page Container -->
<div class="CV">
    <!-- The Grid -->
    <div class="CV-sections">
        <!-- Left Column -->
        <div class = "left-column">
            
                <div class="CV-image-div">
                    <img class="CV-image" src="../static/images/me_cropped.png">
                </div>

                <div class="CV-key-info">
                    <p><i class="fa fa-home fa-fw"></i>London, UK</p>
                    
                    <hr>

                    <span class="left-panel-title"><i class="fa fa-bar-chart fa-fw"></i> Skills</span>
                    
                    <div class="subsection">
                        <span>Statistics, Data Analysis, Machine Learning, Business Intelligence</span> 
                    </div>

                    <div class="subsection">
                        <span>SQL, Python, Javascript, Git, HTML, CSS, C++ </span> 
                    </div>

                    <div class="subsection">
                        <span>Firebase, SAP BO, Tableau</span> 
                    </div>    
                    <hr>

                    <span class=CV-domain-expertise><b><i class="fa fa-medkit fa-fw"></i>Domain Expertise</b></span>
                    <p>Electronic Patient Records (ePR)</p>

                    <p>Healthcare </p>

                    <p>Pharmacy </p>

                    <hr>
                    <span ><b><i class="fa fa-file-text fa-fw"></i>Certificates</span>
                    
                    <p>PRINCE2 Practitioner</p>

                    <p>PRINCE2 Foundation </p>
                  
                </div>

                <hr>

                <h2><i class="fa fa-briefcase fa-fw w3-margin-right"></i>Membership</h2>
                <div >
                    <h5>
                <p>Member - Faculty of Clinical Informatics </p>

                <p>Registered - General Pharmaceutical Council of Great Britain</p>
                    
                    </h5>
                </div>
                  
        </div>

        <!-- Right Column -->
        <div class="right-column">

            <div>

                <h2 ><i class="fa fa-book fa-fw"></i>Education</h2>
                <div>
                    <h5>
                        <b> Data Science, MSc <br> Distinction </b> <br> The University of Sussex
                        
                    </h5>
                    <h6><i class="fa fa-calendar fa-fw"></i>2020 - 2022</h6>
                    
                    
                    <hr>
                </div>
                <div>
                    <h5><b>Pharmacy, MPharm <br> Upper Second-Class Honours (2:1) </b> 
                    <br> The University of Kent
                                             
                    </h5>
                    <h6><i class="fa fa-calendar fa-fw"></i>2012 - 2016</h6>
                    
                    <p></p> 
                    
                </div>

            </div>


            <div>
                <h2><i class="fa fa-suitcase fa-fw"></i>Work Experience</h2>
                    <div>
                        <h5 ><b>Business Intelligence Developer <br>
                                Cerner</b>
                        </h5>
    
                        <h6><i class="fa fa-calendar fa-fw"></i>February 2022 - <span>Current</span> </h6>
                    </div>
                    <hr>
                    
                <div>
                    <h5><b>EPMA Pharmacist <br>
                            Royal Surrey NHS Foundation Trust (Surrey Safe Care)</b>
                    </h5>

                    <h6><i class="fa fa-calendar fa-fw w3-margin-right"></i>September 2020 - February 2022 </h6>
                    
                    
                </div>

                <hr>

                <div>
                    <h5><b>Senior Pharmacist - Electronic Prescribing <br>
                            Lewisham and Greenwich NHS Foundation Trust
                        </b></h5>
                    <h6><i class="fa fa-calendar fa-fw"></i>March 2019 - September 2020
                    </h6>
                  
                    <hr>
                </div>
                <div>
                    <h5 class="w3-opacity"><b> EPMA Implementation Pharmacist <br>
                            Torbay and South Devon NHS Foundation Trust</b></h5>
                    <h6><i class="fa fa-calendar fa-fw"></i>November 2018 - March 2019
                    </h6>
                   
                </div>               
            </div>

            <!-- End Right Column -->
        </div>
        <!-- End Grid -->
    </div>
    </body>
</div>
{%endblock%}