{%extends "layout.html"%}
{%block content%}
<!-- Page Container -->
<div class="CV">
    <!-- The Grid -->
    <div class="CV-sections">
        <!-- Left Column -->
        <div class = "left-column">
            
            <div class="CV-image-div">
                <img class="CV-image" src="../static/images/me_cropped.png">
            </div>

            <div class="CV-key-info">
                <p><i class="fa fa-home fa-fw"></i> London, UK</p>
                
                <hr class = cv-line>

                <span class="subtitle"><i class="fa fa-bar-chart fa-fw"></i> Skills</span>
                
                <ul class="subsection-list">
                    <li>Statistics, Data Analysis, Machine Learning, Business Intelligence</li> 
                    <li>SQL, Python, Javascript, Git, HTML, CSS, C++ </li> 
                    <li>Firebase, SAP BO, Tableau</li> 
                </ul>  
                <hr class = cv-line>

                <span class="subtitle"><i class="fa fa-medkit fa-fw"></i> Domain Expertise</span>
                <ul class="subsection-list">
                    <li>Electronic Patient Recprds</li> 
                    <li>Health dats</li> 
                    <li>Pharmacy</li> 
                </ul> 

                <hr class = cv-line>

                <span class="subtitle" ><i class="fa fa-file-text fa-fw"></i> Certificates</span>

                <ul class="subsection-list">
                    <li> Oracle Cloud Infrastructure (OCI) Foundations </li> 
                    <li>PRINCE2 Practitioner</li> 
                    <li>PRINCE2 Foundation</li> 
                </ul> 

                <hr class = cv-line>

                <span class="subtitle"><i class="fa fa-briefcase fa-fw"></i> Membership</span>
                <ul class="subsection-list">
                    <li>Faculty of Clinical Informatics</li> 
                    <li>Registered - General Pharmaceutical Council of Great Britain</li> 
                </ul>                          
    
                </div>
        </div>

        <!-- Right Column -->
        <div class="right-column">
            <div>
                <h2 class="right-subtitle" ><i class="fa fa-book fa-fw"></i>Education</h2> 

                <div class="Education">
                    <p class="location">The University of Sussex</p>
                    <p class="date"><i class="fa fa-calendar fa-fw"></i> 2020 - 2022</p>
                    <p class="course"> Data Science, MSc </span> 
                    <p class="grade">Distinction</p>
                </div>

                <div class="Education">
                    <p class="location">The University of Kent</p>
                    <p class="date"><i class="fa fa-calendar fa-fw"></i> 2012 - 2016</p>
                    <p class="course">Pharmacy, MPharm</p> 
                    <p class="grade">Upper Second-Class Honours (2:1)</p>
                </div>
            <div>
            <hr class = cv-line>
            <div class="work-experience">
                <h2><i class="fa fa-suitcase fa-fw"></i>Work Experience</h2>

                <div class="work-exp">
                    <p class="employer">Unzippd</p>
                    <p class="work-period"><i class="fa fa-calendar fa-fw"></i> January 2024 - Current</p>
                    <p class="job-title">Full Stack Data Scientist</p>
                    <ul class="exp-detail">
                        <li>Successfully delivered a pitch using understanding of the solutions developed to solve business problems to obtain a £8,000 grant for social entrepreneurs within the first month of commencing the role.</li>
                        <li>Owned and developed dashboards presenting key insights from statistical analysis of survey data.</li>
                        <li>Collaborated with team to solve client issues by leveraging data insights and programming skills.</li>
                        <li>Aligned data strategy with company's long-term objectives to improve core value propositions at Unzippd.</li>
                        <li>Researched advanced machine learning models for upcoming product innovations.</li>
                    </ul>
                </div> 

                <div class="work-exp">
                    <p class="employer">Oracle</p>
                    <p class="work-period"><i class="fa fa-calendar fa-fw"></i> February 2022 - Current</p>
                    <p class="job-title">Business Intelligence Developer </p>
                    <ul class="exp-detail">
                        <li>Applied data science skills to develop a disease risk model for high-risk patient identification and prioritization to improve outcomes in a population.</li>
                        <li>Developed recurring reports and dashboards which present statistics to enable clients to make tactical decisions and understand user experience of applications.</li>
                        <li>Improved productivity of colleagues and clients by providing training on the data models and corresponding end to end workflows which result in data being stored in relevant tables.</li>
                        <li>Successfully implemented business intelligence solutions and data warehouses in projects overseas and in the UK.</li>
                    </ul>
                </div> 

                <div class="work-exp">
                    <p class="employer">Royal Surrey NHS Foundation Trust (Surrey Safe Care)</p>
                    <p class="work-period"><i class="fa fa-calendar fa-fw"></i> September 2020 - February 2022</p>
                    <p class="job-title">EPMA Pharmacist </p>
                    <ul class="exp-detail">
                        <li>Analysed existing software and workflows in preparation for complex digital transformation programmes.</li>
                        <li>Designed and approved new workflows within the incoming system with attention to operational efficiency, patient safety and financial impacts.</li>
                        <li>Communicated with software vendors to address risks, issues and change requests.</li>
                        <li>Effectively communicated technical concepts to non-technical users, facilitating cross-functional collaboration and integration.</li>
                        <li>Led a successful team in the deployment of ePR system, resulting in improved patient care and increased efficiency.</li>
                    </ul>
                </div> 

                <div class="work-exp">
                    <p class="employer">Lewisham and Greenwich NHS Foundation Trust</p>
                    <p class="work-period"><i class="fa fa-calendar fa-fw"></i> March 2019 - September 2020</p>
                    <p class="job-title">Senior Pharmacist - Electronic Prescribing</p>
                    <ul class="exp-detail">
                        <li>Successfully converted business requirements into a viable solutions alongside product owners, developers and other technical staff.</li>
                        <li>Facilitated weekly progress meetings and provided solutions to identified blockers as senior member of staff</li>
                        <li>Conducted training sessions to equip healthcare professionals with the necessary skills to operate patient record systems effectively.</li>
                        <li>Developed and implemented standard operating procedures within the organisation.</li>
                        <li>Collaborated closely with a cross-functional team comprising of project managers, integration architects, and other stakeholders to plan package updates.</li>
                    </ul>
                </div>

                <div class="work-exp">
                    <p class="employer">Torbay and South Devon NHS Foundation Trust</p>
                    <p class="work-period"><i class="fa fa-calendar fa-fw"></i> November 2017 - March 2019</p>
                    <div class="title-list">
                        <ul>
                        <li class="job-title">EPMA Implementation Pharmacist</li>
                        <li class="job-title">Rotational Pharmacist</li>
                    </ul>
                    </div>
                    <ul class="exp-detail">
                        <li>Systematically approached to complex pharmaceutical/clinical problems and the provision of solutions through various methods of communication.</li>
                        <li>Maintained of a database of errors, risks, enquiries and answers/solutions.</li>
                        <li>Successfully developed strategy and plans for of the implementation of an IT (EPMA) system across a large organisation in cooperation project board members and key decision makers.</li>
                        <li>Oversaw of pharmaceutical issues/subjects related to the EPMA system within a large organisation. </li>
                    </ul>
                </div>
            </div>
            <!-- End Right Column -->
        </div>
        <!-- End Grid -->
    </div>
</div>

{%endblock%}