{%extends "layout.html"%}
{%block content%}
<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

    <!-- The Grid -->
    <div class="w3-row-padding">

        <!-- Left Column -->
        <div class="w3-third">

            <div class="w3-white w3-text-grey w3-card-4">
                <div class="w3-display-container">
                    <img src="../static/images/me_2.jpeg" style="width: 80%; display: block;
                    margin-left: auto;
                    margin-right: auto;" , alt="Avatar">
                </div>
                <div class="w3-container">
                    <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>London, UK</p>

                    <hr>

                    <p class="w3-large"><b><i class="fa fa-bar-chart fa-fw w3-margin-right w3-text-teal"></i>Data Science
                            Skills</b></p>

                    <p>Python </p>

                    <p>Statistics</p>

                    <p>SQL</p>

                    <p>Machine Learning</p>

                    <p>Tableau, Seaborn & Matplotlib </p>

                    <p>Git</p>


                    <hr>
                    <p class="w3-large"><b><i
                                class="fa fa-medkit fa-fw w3-margin-right w3-text-teal"></i>Healthcare
                            Knowledge</b></p>
                    <p>Electronic Patient Records</p>

                    <p>Electronic Prescribing and Medicines Administration (EPMA) </p>

                    <p> Pharmacy </p>

                    <hr>
                    <p class="w3-large"><b><i
                                class="fa fa-file-text fa-fw w3-margin-right w3-text-teal"></i>Certificates</b>
                    </p>
                    <p>PRINCE2 Practitioner</p>

                    <p>PRINCE 2 Foundation </p>

                    <hr>

                    <p class="w3-large"><b><i class="fa fa-briefcase fa-fw w3-margin-right w3-text-teal"></i>Membership</b></p>

                <p>Faculty of Clinical Informatics </p>

                <p>Registered - General Pharmaceutical Council of Great Britain</p>
                    <br>
                </div>
            </div><br>

            <!-- End Left Column -->
        </div>

        <!-- Right Column -->
        <div class="w3-twothird">

            <div class="w3-container w3-card w3-white">

                <h2 class="w3-text-grey w3-padding-16"><i
                        class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b> The University of Sussex</b></h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2020 - 2022</h6>
                    <p>Data Science, MSc</p>
                    <hr>
                </div>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>The University of Kent</b></h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2012 - 2016</h6>
                    <p>Pharmacy, MPharm</p> 
                    Dissertation: Design and synthesis of Cryptophycin subunits as potential cancer chemotherapeutic agents. <br>
                    <br>
                </div>

            </div>


            <div class="w3-container w3-card w3-white w3-margin-bottom">
                <h2 class="w3-text-grey w3-padding-16"><i
                        class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience</h2>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>EPMA Pharmacist <br>
                            Royal Surrey County Hospital NHS Foundation (Surrey Safe Care)</b>
                    </h5>

                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Sep 2020 - <span
                            class="w3-tag w3-teal w3-round">Current</span> </h6>

                  - Engage with stakeholders to implement the Cerner medication management software. <br>
                  - Utilise existing data to complete key deliverables e.g. Data Collection Workbooks. <br>
                  - Ensure build and configuration facilitates report building, audit completion and KPI monitoring. <br>
                    
                    <hr>
                </div>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>Senior Pharmacist Electronic Prescibing <br>
                            Lewisham and Greenwich NHS Foundation Trust
                        </b></h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>March 2019 - Sep 2020
                    </h6>
                    -  Provide and optimise reports to enable audit completion and KPI monitoring. <br>
                    -  Engage with key stakeholders to optimise build and configuration of clinical components. <br>
                    -  Train staff in the use of the Cerner medication management software. <br>
                     
                  
                    <hr>
                </div>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b> EPMA Implementation Pharmacist <br>
                            Torbay and South Devon NHS Foundation Trust</b></h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Nov 2018 - Mar 2019
                    </h6>
                    -  Engage with key stakeholders to understand the requirements of clinical areas prior to
                    implementation of the Dedalus EPMA system. <br>
                    - Optimise clinical components of the Dedalus EPMA system. <br>
                    -  Train staff in the use of the Dedalus EPMA system. <br>
                    <br>
                </div>
            </div>



            <!-- End Right Column -->
        </div>

        <!-- End Grid -->
    </div>
    </body>
</div>
{%endblock%}