{%extends "layout.html"%}
{%block content%}

<div class="home">
  <div>
    <img class="home-image" src="../static/images/me_2.jpeg" alt="Picture of Adenrele">
  </div>
  
  <div class="home-text">

    <div class="home-hi">Hi, I'm Adenrele</div>
    <div class="home-profession"> I'm a Data Scientist, BI Developer and Pharmacist!</div>
    <div class="home-more-text">
    My career journey is evidence of my ability to adapt and apply knowledge in professional settings. 
    I became an expert in the use of medication, completed digital transformation projects in healthcare organisations and led anayltics 
    projects. Now I am using advanced statistics and programming skills to develop data-driven solutions for business problems.
    
    <div class="home-project-button">
      <a href="/projects" class="button-link">VIEW MY PROJECTS</a>
    </div>  
  </div>
  </div>
</div>

</body>

{%endblock%}