{%extends "layout.html"%}
{%block content%}

<div class="w3-row-padding">
  <div class="w3-third">


    <div class="w3-display-container">
      <img src="../static/images/me_2.jpeg" alt="Picture of Adenrele" class="w3-border"
        style="float:right;width: 265px;height: 345px; padding :6px">

    </div>
  </div>
  

  <div class="w3-twothird">
    <div class="w3-container w3-card w3-white w3-hover-teal">

      <h2> <span class="w3-tag w3-teal w3-round">About Me</span></h2>


      <h5>
        Adenrele is a business intelligence developer, EPMA pharmacist and MSc data science student. <br> <br>
        His professional identity is evidence of a passion for the extraction of insights from health data
        and the deployment of solutions engineered using the insights derived. <br><br>
        His effectiveness is underpinned by experience and skills gained; in the deployment of health record systems in multiple NHS 
        trusts; within analytics; and through the data science masters program.
        
      </h5>
    </div>
  </div>
</div>
  <hr>

  <div class="w3-container w3-card-2 w3-white w3-hover-teal", style="width:97%; margin:auto">

    <h2><span class="w3-tag w3-teal w3-round">This Website </span></h2>
    <h5>
      This website was built using Python (Flask) and deployed to a
      Heroku server using Git.
      It serves as a demonstration of skill and a portal to information about Adenrele.
      <br> <br>

      Please feel free to leave feedback <a href="http://adenrele.herokuapp.com/contact" target="_blank"
        class="w3-hover-text-green"> here</a>.
    </h5>

  </div>


</body>

<hr>
{%endblock%}