{%extends "layout.html"%}
{%block content%}
<div class = "home">
<h2> About Me &emsp;      
            <a style = "text-decoration: none" href="https://www.linkedin.com/in/akomolafe/" target="" class="fa fa-linkedin w3-hover-opacity">  </a>
            <a style = "text-decoration: none" href="https://twitter.com/Ak_DataPharm" target="" class="fa fa-twitter w3-hover-opacity">  </a>
            
          </h2>
            
             <IMG class = "w3-circle w3-border" src = "http://www.http://adenrele.herokuapp.com/images/Me.PNG" style = "float:right;width:480px;height: 500px;">
            
          <h5> 
            As a data science student (MSc) and Electronic Prescrbing and Medicines Administration (EPMA) Pharmacist, 
            my professional interests lie within health data. <br> <br>

            Electronic health records (EHR) systems, such as those that I work with, generate and store vast quantities 
            of patient data that was 
            <a href ="https://www.health.org.uk/publications/reports/untapped-potential-investing-in-health-and-care-data-analytics" target="_blank" class="w3-hover-text-green"> typically underutilised within the NHS</a>. 
            Such data includes but is not limited to diagnoses, observations, 
            lab results, measurements, patient demographics and prescribed medication.
            
            <br><br>
            Spurred by the impactful use of predictive analytics during the COVID-19 pandemic, I embarked on my journey into data science.
            Begining with SQL, improving my understanding of statistics, learning Python, delving into machine learning and much more. 
            Now, I wish to use my skills to extract actionable insights from health datasets in professional environments. 
          </h5>
          <br>

          <h2> This Website </h2>
          <h5> 
            This website was built using Python (Flask) and deployed to a Heroku server using Git.
            I also learnt rudimentary HTML and CSS in the process. 
            The layout of this site relies on code provided by 
            <a href="https://www.w3schools.com/w3css/default.asp" target="_blank" class="w3-hover-text-green">w3schools</a> 
            as their CSS template was adapted for my use. <br> <br>

            The purpose of this website is to provide insight into my skills, experience and motivation as an aspiring <br>
            health data scientist. I hope this purpose is fulfilled.

            Please feel free to leave feedback <a href="https://www.Adenrele.co.uk/contact" target="_blank" class="w3-hover-text-green"> here</a>.
          </h5>
    </body>
</div>

{%endblock%}