{%extends "layout.html"%}
{%block content%}
<div class="blogs">

    <h1 class = "title" >Medtronic Task 1 Program</h1>

    <div class="blog-box">        
        <div class="upload-section">

            <h5>
                This program accepts CSVs as requested for task 1 of the tech test. It returns the pair of users with the lowest ecludian distance score.
                <br><br>
                Limitations and Assumptions
                <ul>
                    <li>An assumption is made that the CSV will be in the exact format provided in the test.</li>
                    <li>This program assumes there are no duplicate records as the provided CSV did not contain any.</li>
                    <li> This program does not account for situations where multiple pairs have the best score.</li>
                </ul>
            </h5>

            <div class="upload-content">
            <br>
            <h3>Upload Your CSV File</h3>
            <form action="{{ url_for('process_file') }}" method="POST" enctype="multipart/form-data">
             
                <input type="file" id="file" name="file" accept=".csv" required><br><br>
                <button class = "upload_button" type="submit">Upload and Process</button>
            </form>
            </div>
        </div>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash-messages">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

        
    </div>
 
</div>
{%endblock%}