{%extends "layout.html"%}
{%block content%}
<div class="projects">

    
        <h1 class="title"> Projects</h1>

        <div class="project-box">
            
            <div class="project-box-header">
            <a> 
                Image Classification Model and Web App
            </a> 
            <a href="https://github.com/Adenrele" target="_blank" class="fa fa-github social-icon"> </a> 
            <a href="https://adenrele-fruit-and-vegetable-image-recognition-main-jrfvxi.streamlit.app" target="_blank" class="fa fa-link"> </a>      
            </div>
           
            <div class="project-description">

                <div class="project-summary-image">
                    <img class="project-image" src="../static/images/RocCurve.png" alt="Model Performance">
                </div>

                <div class="description-text">
                    <div>
                        In this project, I develop a custom Convolutional Neural Network (CNN) 
                        to classify images of fruits and vegetables. 
                        The model is trained on a dataset containing 36 classes, 
                        with 100 images or less per class. 
                        </div>   
                    <div class="project-skills">
                        Top skills used include: Python, Machine Learning, PyTorch, Data Science, Statistics
                    </div>

                    <div class="skills-application">
                        <span>Application of Skills</span>
                        <ul>
                            <li>Development of image recognition models in health e.g. CT scans.</li>
                            <li>Mobile apps for accessibility and learning by identifying objects.</li>
                            <li>Object recognition in augmented reality or virtual reality applications.</li>
                        </ul>
                    </div>
                </div>
            </div>
            

            
                
        </div>

        <hr class="project-line">


        <div class="project-box">
            
            <div class="project-box-header">
            <a> 
                Portfolio Website
            </a> 
            <a href="https://github.com/Adenrele/Web_Portfolio" target="_blank" class="fa fa-github social-icon"> </a>     
            </div>
           
            <div class="project-description">

                <div class="project-summary-image">
                    <img class="project-image" src="../static/images/app_code.png" alt="app_code">
                </div>

                <div class="description-text">
                    <div>
                        This portfolio website was developed using the Flask API. It is a demonstration
                        of my ability to deploy applications & features and serves as a central repository for all of my work.
                        All passion projects, future APIs, databases and more will be integrated with this portfolio.
                        </div>   
                    <div class="project-skills">
                        Top skills used include: Python, Flask, HTML, CSS
                    </div>

                    <div class="skills-application">
                        <span>Application of Skills</span>
                        <ul>
                            <li>Use and implementation of APIs</li>
                            <li>Deoplyment and models, features and applications.</li>
                            <li>Design of webpages and dashboards without the use of no code tools.</li>
                        </ul>
                    </div>
                </div>
            </div>
            
        
                
        </div>


        <hr class="project-line">

        <div class="project-box">
            
            <div class="project-box-header">
            <a> 
                NHS English Prescribing Data (EPD) and MET office pollen count data
            </a> 
            <a href="https://github.com/Adenrele/Hayfever-NHS-Prescribing-Data-" target="_blank" class="fa fa-github social-icon"> </a>   
            <a href="https://nhs-pycom.net/epd-analysis-using-python " target="_blank" class="fa fa-link"> </a>      
             
            </div>
           
            <div class="project-description">

                <div class="project-summary-image">
                    <img class="project-image" src="../static/images/antihistamines.png" alt="app_code">
                </div>

                <div class="description-text">
                    <div>
                        NHS prescribing data was extracted using the available APIs. In addition, 
                        pollen count data was requested and received from the national meteorological (MET) service
                        office. This data was used to demonstarate multiple skills including but not
                        limited to data analysis.
                        </div>   
                    <div class="project-skills">
                        Top skills used include: Python, Data Analysis, Statistics, Distributed Computing, Pandas, Numpy
                    </div>

                    <div class="skills-application">
                        <span>Application of Skills</span>
                        <ul>
                            <li>Cleaning and aggregation of data from multiple disparate sources.</li>
                            <li>In depth statistical analysis of data for impactful and actionable insights.</li>
                            <li>Distributed computing of workloads for speed and efficiency.</li>
                        </ul>
                    </div>
                </div>
            </div>
            
        
                
        </div>


</div>

{%endblock%}