{%extends "layout.html"%}
{%block content%}
<div class="projects">

    <body>
        <h1 class="w3-text-grey"> Projects</h1>

        <div class="w3-container w3-card w3-white">

            <h3 style="text-decoration: underline;"> Production of a predictive model using NHS English Prescribing Data
                (EPD) and MET office pollen count data
            </h3>

            <h4>Status: <span class="w3-tag w3-amber w3-round">In Progress</span> 
                <br><br>
                

                Github repository:<a class="w3-hover-opacity" style="text-decoration:none"
                    href="https://github.com/Adenrele/Hayfever-NHS-Prescribing-Data-"> <span
                        class="w3-tag w3-teal w3-hover-opacity w3-round"> View</span> </a>

                <br><br>

                Related Blogs: <a class="w3-hover-text-teal" style="text-decoration:none"
                    href=https://towardsdatascience.com/nhs-english-prescribing-data-analysis-using-python-9d86ec610880>
                    Part 1</a>,

                <a class="w3-hover-text-teal" style="text-decoration:none"
                    href=https://towardsdatascience.com/nhs-english-prescibing-data-epd-analysis-using-python-part-2-aa990e4e47dd>
                    Part 2</a> <br> <br>
            </h4>

            <h5>Blogs can also be found in the <a class="w3-hover-text-blue" style="text-decoration:none"
                    href=https://nhs-pycom.net/blog.html>
                    <span class="w3-tag w3-blue w3-round w3-hover-opacity">NHS Python Community Website.</span></a>
            </h5>


        </div>

        <hr>

        <div class="w3-container w3-card w3-white">

            <h3 style="text-decoration: underline;">Portfolio Website </h3>

            <h4>Status: <span class="w3-tag w3-teal w3-round">Completed</span> 
                <br><br>

                Github repository:<a class="w3-hover-opacity" style="text-decoration:none" href=""> <span
                        class="w3-tag w3-amber w3-hover-opacity w3-round">In Progress</span> </a>

                        <br><br>

                Related Blogs: <a style="text-decoration:none"> <span
                    class="w3-tag w3-grey w3-round">None</span> </a>
                <br> <br>

            </h4>

        </div>
    </body>
</div>

<br>
{%endblock%}