{%extends "layout.html"%}
{%block content%}
<div class="projects">

    
        <h1 class="title"> Projects</h1>

        <div class="project-box">
            
            <div class="project-box-header">
            <a> 
                Image Classification Model and Web App
            </a> 
            <a href="https://github.com/Adenrele" target="_blank" class="fa fa-github social-icon"> </a> 
            <a href="https://adenrele-fruit-and-vegetable-image-recognition-main-jrfvxi.streamlit.app" target="_blank" class="fa fa-link"> </a>      
            </div>
           
            <div class="project-description">

                <div class="project-summary-image">
                    <img class="project-image" src="../static/images/RocCurve.png" alt="Model Performance">
                </div>

                <div class="description-text">
                    <div>
                        In this project, I develop a custom Convolutional Neural Network (CNN) 
                        to classify images of fruits and vegetables. 
                        The model is trained on a dataset containing 36 classes, 
                        with 100 images or less per class. 
                        </div>   
                    <div class="project-skills">
                        Top skills used include: Python, Machine Learning, Pytorch, Data Science, Statistics
                    </div>

                    <div class="skills-application">
                        <span>Application of Skills</span>
                        <ul>
                            <li>Development of image recognition models in health e.g. CT scans.</li>
                            <li>Mobile apps for accessibility and learning by identifying objects.</li>
                            <li>Object recognition in augmented reality or virtual reality applications.</li>
                        </ul>
                    </div>
                </div>
            </div>
            

            
                
        </div>

        <hr class="project-line">


        <div class="project-box">
            
            <div class="project-box-header">
            <a> 
                Portfolio Website
            </a> 
            <a href="https://github.com/Adenrele/Web_Portfolio" target="_blank" class="fa fa-github social-icon"> </a>     
            </div>
           
            <div class="project-description">

                <div class="project-summary-image">
                    <img class="project-image" src="../static/images/app_code.png" alt="app_code">
                </div>

                <div class="description-text">
                    <div>
                        In this project, I develop a custom Convolutional Neural Network (CNN) 
                        to classify images of fruits and vegetables. 
                        The model is trained on a dataset containing 36 classes, 
                        with 100 images or less per class. 
                        </div>   
                    <div class="project-skills">
                        Top skills used include: Python, Machine Learning, Pytorch, Data Science, Statistics
                    </div>

                    <div class="skills-application">
                        <span>Application of Skills</span>
                        <ul>
                            <li>Development of image recognition models in health e.g. CT scans.</li>
                            <li>Mobile apps for accessibility and learning by identifying objects.</li>
                            <li>Object recognition in augmented reality or virtual reality applications.</li>
                        </ul>
                    </div>
                </div>
            </div>
            
        
                
        </div>

        <div class="project-box">

            <a class="w3-hover-opacity" style="text-decoration: underline" href="https://github.com/Adenrele/Web_Portfolio"> 
                <span> <h3>Portfolio Website </h3></span> </a> 

            <h4>Status: <span class="w3-tag w3-teal w3-round">Completed</span> 
                <br><br>

                Github repository:<a class="w3-hover-opacity" style="text-decoration:none" href="https://github.com/Adenrele/Web_Portfolio"> <span
                        class="w3-tag w3-teal w3-hover-opacity w3-round">View</span> </a>

                        <br><br>

                Related Blogs: <a style="text-decoration:none"> <span
                    class="w3-tag w3-grey w3-round">None</span> </a>
                <br> <br>

            </h4>

        </div>

        <hr class="project-line">

        <div class="project-box">

            <h3 style="text-decoration: underline;"> Production of a predictive model using NHS English Prescribing Data
                (EPD) and MET office pollen count data
            </h3>

            <h4>Status: <span class="w3-tag w3-amber w3-round">In Progress</span> 
                <br><br>
                

                Github repository:<a class="w3-hover-opacity" style="text-decoration:none"
                    href="https://github.com/Adenrele/Hayfever-NHS-Prescribing-Data-"> <span
                        class="w3-tag w3-teal w3-hover-opacity w3-round"> View</span> </a>

                <br><br>

                Related Blogs: <a class="w3-hover-text-teal" style="text-decoration:none"
                    href=https://towardsdatascience.com/nhs-english-prescribing-data-analysis-using-python-9d86ec610880>
                    Part 1</a>,

                <a class="w3-hover-text-teal" style="text-decoration:none"
                    href=https://towardsdatascience.com/nhs-english-prescibing-data-epd-analysis-using-python-part-2-aa990e4e47dd>
                    Part 2</a> <br> <br>
            </h4>

            <h5>Blogs can also be found in the <a class="w3-hover-text-blue" style="text-decoration:none"
                    href=https://nhs-pycom.net/blog.html>
                    <span class="w3-tag w3-blue w3-round w3-hover-opacity">NHS Python Community Website.</span></a>
            </h5>


        </div>

</div>

{%endblock%}